{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1 align="center">Hosts</h1>
<ul class="list-group list-group-flush" id="computers">
  {% if user.admin %}
  {% for computer in computerList %}
  <li class="list-group-item">
    {{ computer.data }}
    {{ computer.computer_ip }}
    <button type="button" class="close" onClick="patchComputer({{ computer.id }})">
      <span aria-hidden="true">Patch</span>
    </button>
    <button type="button" class="close" onClick="deleteComputer({{ computer.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
  {% else %}
  {% for computer in user.computers %}
  <li class="list-group-item">
    {{ computer.data }}
    {{ computer.computer_ip }}
    <button type="button" class="close" onClick="patchComputer({{ computer.id }})">
      <span aria-hidden="true">Patch</span>
    </button>
    <button type="button" class="close" onClick="deleteComputer({{ computer.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
  {% endif %}
</ul>
<br />
<form method="POST">
  <div class="form-group">
    <label for="computer">Name</label>
    <input
      class="form-control"
      id="computer"
      name="computer"
      placeholder="Enter name"
    />
  </div>
  <div class="form-group">
    <label for="computer_ip">IP Address</label>
    <input
      class="form-control"
      id="computer_ip"
      name="computer_ip"
      placeholder="Enter IP"
      pattern="^([0-9]{1,3}\.){3}[0-9]{1,3}$"
    />
  </div>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Add Computer</button>
  </div>
</form>
{% endblock %}
